{#
/**
 * @file
 * Default theme implementation for to display a book index.
 *
 * Available variables:
 * - title: The title of the index page
 * - items: The index as an array of arrays with the following items:
 *   - initial: the first character of the terms or # if the first character is
 *     not a letter.
 *   - items: an array of arrays with the following items:
 *     - title: the index term
 *     - url: the full url to the term.
 */
#}

<div class="bookindex">
  {#
    Internal navigation

    A navigation bar with internal page links to the initials
  #}
  <nav class = "bookindex--navigation">
    {% for item in items %}
      {% if item.items is not empty %}
        <a href = "#{{ item.initial }}"> {{ item.initial }}</a>
      {% else %}
        {{ item.initial }}
      {% endif %}
      {% if item.initial is not same as("Z") %}
         - 
      {% endif %}
    {% endfor %}
  </nav>

  {#
   The index

   An alphabetisized index with the links to the each item.
  #}

  <nav  class="bookindex--index">
    {% for initial in items %}
      {% if initial.items is not empty %}
        <section>
          <div class = "bookindex--index-item">
            <a name = "{{ initial.initial }}"></a>
            <h2>{{ initial.initial }}</h2>
            {% for item in initial.items %}
              {{ link(item.title, item.url) }}
            {% endfor %}
          </div>
        </section>
      {% endif %}
    {% endfor %}
  </nav>
</div>
